*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}


section{
    padding: 100px 0;
    margin: 0px;
 

}
.bar{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    
    padding: 30px 0; 
    background-color: black;
    mix-blend-mode: hard-light;
    height: 80px;
    
}

.navbar .bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin: 0px;
}
.navbar .logo a span{
    color: orangered;
    margin: 0px;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: silver;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    margin-top: 0px;
   
}
.navbar .menu li a#game{
    
    color: white;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid red;
}
.navbar .menu li a#contact:hover{
    color: orangered;
    background: none;
}
.navbar .menu li a:hover{
    color: orange;
}

.menu-btn{
    color: #fff;
    font-size: 23px;
    display: none;
}


.home{
    display: flex;
    background: url("abstract-black-stripes-diagonal-background-free-vector.webp") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
}
.home .bar{
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-content{
    
    display: inline-block;
    justify-content: center;
    flex-wrap:nowrap;
    width: 350px;
}

.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    margin-left: -3px;
    float: left;
}
.home-content .text-3 span{
    color: orangered;
    font-weight: 500;
}

@keyframes animate{
    50%{border-color: transparent;}
}
.text-3{
    border-right: .15em solid #fff; 
    animation: animate .4s step-end infinite alternate;
    margin: 0 auto;
    padding-right: 00px;
    display: flex;
    justify-content: center;
    letter-spacing: 0.15rem;
    width: auto;

}

/* About*/
.hobbies{
    height: 100vh;
    min-height: 500px;
}
.text{
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}
.notext{
    opacity: 1;
    transform: translateY(0px);
}
.hobbies .hobbies-content .img2{
    width: 45%;
}
.hobbies .hobbies-content .img2 img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 6px;
}
.hobbies .hobbies-content .text{
    width: 55%;
}
.df{
    font-weight: 600px;
}
.hobbies .hobbies-content .text{
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
 
 
 

}



.hobbies .hobbies-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    text-decoration: 1px black underline;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;

}
.Game{
    display: flex;
    background-image:  url('abstract-black-stripes-diagonal-background-free-vector.webp');
    color: #fff;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    justify-content: center;
    align-items: center;

}




.body{
    display: flex;
    justify-content: center;
}
.count{
    color: wheat;
    font-size: 35px;
    background-color:rgb(4, 19, 21);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 6px;
}
#left{
    display: inline-block;
    width: 245px;
}
.right{
    display: inline-block;
    transform: scaleX(-1);
    width: 250px;
    height: auto;
    
}
.head{
    display: flex;
    justify-content: space-between;
}
.human{
    transform: scaleX(-1);
}
h1{
    font-size: 50px
}
.container{
    width: 800px;
    height:569px;
    background-color: rgb(14, 37, 59);
    border-radius: 6px;
}
.btn{
    display: flex;
    width: 800px;
    height: 100px;
    justify-content: space-evenly;
    background-color: rgb(4, 19, 21);
    border-radius: 4px;
}
.rock{
    font-size: 60px;
    background: none;
    border: none;
   
}
.paper{
    font-size: 60px;
    background: none;
    border: none;
}
.scissor{
    font-size: 60px;
    background: none;
    border: none;
}
.lefts{
    width: 400px;
    height: auto;
    
}
.rights{
    width: 400px;
    height: auto;
}
.images{
    display: flex;
    justify-content: space-between;

}


