*{
    background: none;
    border: none;
}

#left{
    width: 250px;
}
.right{
    transform: scaleX(-1);
    width: 250px;
    height: auto;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height:auto;
    background-color: rgb(33, 71, 110);
}
.btn{
    display: flex;
    width: 500px;
    height: 60px;
    justify-content: space-evenly;
    background-color: rgb(4, 39, 42);
    border-radius: 6px;
}
.rock{
    font-size: 40px;
   
}
.paper{
    font-size: 40px;
}
.scissor{
    font-size: 40px;
}